# File system syscalls
fopen ALLOC
fopen64 ALLOC
fdopen ALLOC
tmpfile ALLOC
tmpfile64 ALLOC
getcwd COPY Ret V Arg0 V
tmpnam COPY Ret V Arg0 V
freopen COPY Ret V Arg2 V
freopen64 COPY Ret V Arg2 V
get_current_dir_name ALLOC
getpwuid COPY Ret V STATIC
getpwnam COPY Ret V STATIC
getpwent COPY Ret V STATIC
readdir COPY Ret V STATIC
getgrgid COPY Ret V STATIC
opendir ALLOC
fopendir ALLOC
IGNORE setpwent
IGNORE endpwent
IGNORE stat
IGNORE fstat
IGNORE lstat
IGNORE access
IGNORE chdir
IGNORE fchdir
IGNORE chmod
IGNORE chown
IGNORE chroot
IGNORE close
IGNORE closedir
IGNORE creat
IGNORE dup
IGNORE dup2
IGNORE fchmod
IGNORE fchown
IGNORE fclose
IGNORE fcntl
IGNORE fdatasync
IGNORE feof
IGNORE clearerr
IGNORE ferror
IGNORE fflush
IGNORE fgetpos
IGNORE fileno
IGNORE flockfile
IGNORE fnmatch
IGNORE fseek
IGNORE fseeko
IGNORE fsetpos
IGNORE fsync
IGNORE ftell
IGNORE ftello
IGNORE ftruncate
IGNORE ftrylockfile
IGNORE funlockfile
IGNORE getegid
IGNORE geteuid
IGNORE getgid
IGNORE getgroups
IGNORE getpid
IGNORE getppid
IGNORE getresgid
IGNORE getresuid
IGNORE getsid
IGNORE getuid
IGNORE lchown
IGNORE link
IGNORE lseek
IGNORE mkdir
IGNORE mkfifo
IGNORE mknod
IGNORE mkostemp
IGNORE mkostemps
IGNORE mkstemp
IGNORE mkstemps
IGNORE open
IGNORE poll
IGNORE read
IGNORE readlink
IGNORE remove
IGNORE rename
IGNORE rewind
IGNORE rmdir
IGNORE select
IGNORE setbuf
IGNORE setbuffer
IGNORE setegid
IGNORE seteuid
IGNORE setgid
IGNORE setgroups
IGNORE setlinebuf
IGNORE setsid
IGNORE setuid
IGNORE setvbuf
IGNORE symlink
IGNORE truncate
IGNORE umask
IGNORE unlink
IGNORE write
IGNORE getwd
IGNORE isatty

# Process syscalls
popen ALLOC
signal COPY Ret V Arg1 V
__sysv_signal COPY Ret V Arg1 V
getpass COPY Ret V STATIC
IGNORE getpgid
IGNORE setpgid
IGNORE getpgrp
IGNORE setpgrp
IGNORE alarm
IGNORE execl
IGNORE execle
IGNORE execlp
IGNORE execv
IGNORE execve
IGNORE execvp
IGNORE fork
IGNORE kill
IGNORE nice
IGNORE pause
IGNORE pclose
IGNORE perror
IGNORE pipe
IGNORE sleep
IGNORE wait
IGNORE waitpid
IGNORE usleep
IGNORE sigemptyset
IGNORE sigfillset
IGNORE sigaddset
IGNORE sigprocmask
IGNORE sigaction
IGNORE setitimer

# Network syscalls
IGNORE accept
IGNORE bind
IGNORE connect
IGNORE gethostname
IGNORE getpeername
IGNORE getsockname
IGNORE getsockopt
IGNORE htonl
IGNORE htons
IGNORE inet_addr
IGNORE inet_aton
IGNORE inet_network
IGNORE listen
IGNORE ntohl
IGNORE ntohs
IGNORE recv
IGNORE recvfrom
IGNORE recvmsg
IGNORE send
IGNORE sendmsg
IGNORE sendto
IGNORE sethostname
IGNORE setsockopt
IGNORE socket
IGNORE socketpair

# Time
ctime COPY Ret V STATIC
strptime COPY Ret V Arg0 V
IGNORE gettimeofday
IGNORE clock
IGNORE difftime
IGNORE time
IGNORE timegm
IGNORE timelocal
IGNORE times
IGNORE clock_gettime
IGNORE utime
IGNORE utimes
IGNORE tzset

# I/O
fgets COPY Ret V Arg0 V
fgetws COPY Ret V Arg0 V
gets COPY Ret V Arg0 V
asprintf ALLOC
IGNORE __isoc99_fscanf
IGNORE __isoc99_scanf
IGNORE __isoc99_sscanf
IGNORE __isoc99_swscanf
IGNORE _IO_getc
IGNORE _IO_putc
IGNORE fgetc
IGNORE fprintf
IGNORE fputc
IGNORE fputs
IGNORE fread
IGNORE fscanf
IGNORE fwprintf
IGNORE fwrite
IGNORE getchar
IGNORE printf
IGNORE putchar
IGNORE puts
IGNORE scanf
IGNORE snprintf
IGNORE sprintf
IGNORE sscanf
IGNORE strftime
IGNORE ungetc
IGNORE vfprintf
IGNORE vfwprintf
IGNORE vprintf
IGNORE vsnprintf
IGNORE vsprintf
IGNORE vwprintf
IGNORE wprintf

# Char
IGNORE isalnum
IGNORE isalpha
IGNORE isascii
IGNORE isblank
IGNORE iscntrl
IGNORE isdigit
IGNORE isgraph
IGNORE islower
IGNORE isprint
IGNORE ispunct
IGNORE isspace
IGNORE isupper
IGNORE iswalnum
IGNORE iswalpha
IGNORE iswctype
IGNORE iswdigit
IGNORE iswlower
IGNORE iswprint
IGNORE iswspace
IGNORE iswupper
IGNORE isxdigit
IGNORE mblen
IGNORE mbrlen
IGNORE mbrtowc
IGNORE mbtowc
IGNORE tolower
IGNORE toupper
IGNORE towlower
IGNORE towupper

# String
strdup ALLOC
strndup ALLOC
strerror ALLOC
strcat COPY Ret V Arg0 V
wcscat COPY Ret V Arg0 V
strchr COPY Ret V Arg0 V
wcschr COPY Ret V Arg0 V
strcpy COPY Ret V Arg0 V
wcscpy COPY Ret V Arg0 V
strncat COPY Ret V Arg0 V
wcsncat COPY Ret V Arg0 V
strncpy COPY Ret V Arg0 V
strrchr COPY Ret V Arg0 V
strstr COPY Ret V Arg0 V
strtod COPY Arg1 D Arg0 V
strtof COPY Arg1 D Arg0 V
strtol COPY Arg1 D Arg0 V
strtoul COPY Arg1 D Arg0 V
strtok COPY Ret V STATIC
strpbrk COPY Ret V NULL
strpbrk COPY Ret V Arg0 V
index COPY Ret V Arg0 V
rindex COPY Ret V Arg0 V
IGNORE strcasecmp
IGNORE strcmp
IGNORE strcoll
IGNORE strcspn
IGNORE strlen
IGNORE strncasecmp
IGNORE strncmp
IGNORE wcslen
IGNORE strspn

# Math functions
IGNORE erand48
IGNORE abs
IGNORE acos
IGNORE asin
IGNORE atan
IGNORE atan2
IGNORE ceil
IGNORE cos
IGNORE cosf
IGNORE exp
IGNORE exp10
IGNORE exp2
IGNORE fabs
IGNORE fabsf
IGNORE floor
IGNORE floorf
IGNORE hypot
IGNORE ldexp
IGNORE ldexpf
IGNORE ldexpl
IGNORE log
IGNORE log10
IGNORE lrand48
IGNORE modf
IGNORE fmod
IGNORE fmodf
IGNORE pow
IGNORE seed48
IGNORE sin
IGNORE sinf
IGNORE sinh
IGNORE cosh
IGNORE tanh
IGNORE sqrt
IGNORE sqrtf
IGNORE tan

# Conversions
IGNORE atof
IGNORE atoi
IGNORE atol
IGNORE btowc
IGNORE frexp
IGNORE frexpf
IGNORE frexpl

# Miscellaneous
setlocale COPY Ret V STATIC
localeconv COPY Ret V STATIC
getenv COPY Ret V STATIC
__ctype_b_loc COPY Ret V STATIC
localtime COPY Ret V STATIC
gmtime COPY Ret V STATIC
IGNORE mktime
__assert_fail EXIT
_exit EXIT
abort EXIT
IGNORE _setjmp
longjmp EXIT
IGNORE putenv
IGNORE atexit
IGNORE closelog
exit EXIT
__cxa_pure_virtual EXIT
IGNORE openlog
IGNORE qsort
IGNORE rand
IGNORE random
IGNORE srand
IGNORE srandom
IGNORE syslog
IGNORE system
IGNORE sysconf
IGNORE getopt
IGNORE getrusage

# Memory management
__errno_location COPY Ret V STATIC
malloc ALLOC Arg0
calloc ALLOC Arg1
calloc COPY Ret R NULL
valloc ALLOC Arg0
realloc COPY Ret V Arg0 V
memalign ALLOC Arg1
_Znwj ALLOC Arg0
_ZnwjRKSt9nothrow_t ALLOC Arg0
_Znwm ALLOC Arg0
_ZnwmRKSt9nothrow_t ALLOC Arg0
_Znaj ALLOC Arg0
_ZnajRKSt9nothrow_t ALLOC Arg0
_Znam ALLOC Arg0
_ZnamRKSt9nothrow_t ALLOC Arg0
memchr COPY Ret V Arg0 V
bcopy COPY Arg0 R Arg1 R
bcopy COPY Ret V Arg0 V
memccpy COPY Arg0 R Arg1 R
memccpy COPY Ret V Arg0 V
memcpy COPY Arg0 R Arg1 R
memcpy COPY Ret V Arg0 V
memmove COPY Arg0 R Arg1 R
memmove COPY Ret V Arg0 V
wmemcpy COPY Arg0 R Arg1 R
wmemcpy COPY Ret V Arg0 V
memset COPY Arg0 R NULL
memset COPY Ret V Arg0 V
IGNORE free
IGNORE _ZdlPv
IGNORE memcmp
IGNORE mprotect
IGNORE munmap
IGNORE _ZdaPv

# LLVM intrinsics
llvm.memcpy.p0i8.p0i8.i32 COPY Arg0 R Arg1 R
llvm.memcpy.p0i8.p0i8.i32 COPY Ret V Arg0 V
llvm.memcpy.p0i8.p0i8.i64 COPY Arg0 R Arg1 R
llvm.memcpy.p0i8.p0i8.i64 COPY Ret V Arg0 V
llvm.memmove.p0i8.p0i8.i32 COPY Arg0 R Arg1 R
llvm.memmove.p0i8.p0i8.i32 COPY Ret V Arg0 V
llvm.memmove.p0i8.p0i8.i64 COPY Arg0 R Arg1 R
llvm.memmove.p0i8.p0i8.i64 COPY Ret V Arg0 V
llvm.memset.p0i8.i64 COPY Arg0 R NULL
llvm.memset.p0i8.i64 COPY Ret V Arg0 V
llvm.memset.p0i8.i32 COPY Arg0 R NULL
llvm.memset.p0i8.i32 COPY Ret V Arg0 V
IGNORE llvm.bswap.i16
IGNORE llvm.bswap.i32
IGNORE llvm.ctlz.i64
IGNORE llvm.dbg.declare
IGNORE llvm.dbg.value
IGNORE llvm.lifetime.end
IGNORE llvm.lifetime.start
IGNORE llvm.stackrestore
IGNORE llvm.trap
IGNORE llvm.umul.with.overflow.i64